GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-2-preview
GOOGLE_LLM_MODEL=gemini-2.5-flash

OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-4o-mini

PG_VECTOR_COLLECTION_NAME=challenge-collection
PGVECTOR_URL=

PDF_PATH=document.pdf
