GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-2-preview
GOOGLE_LLM_MODEL=gemini-2.5-flash

OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_MODEL=text-embedding-3-small

PGVECTOR_URL=
PG_VECTOR_COLLECTION_NAME=

PDF_PATH=
